Create a list of your favorite movies and print it. Then, append a new movie to the list and
print the updated list.

### First Assignment

In [1]:
list_movies=['dark','spider man','halk','bat man']
list_movies

['dark', 'spider man', 'halk', 'bat man']

In [2]:
list_movies.append('wonder women')

In [3]:
list_movies

['dark', 'spider man', 'halk', 'bat man', 'wonder women']

Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
the list and print the result.

In [6]:
list_int=list(range(1,11))
list_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
total_sum=sum(list_int)
total_sum

55

Create a list of mixed data types including strings, integers, and floats and print it. Remove
the first element from the list and print the modified list.

In [8]:
list_mixed=['Hello','Anu',22,77,3,9,10.11,3.6,'raz']
list_mixed

['Hello', 'Anu', 22, 77, 3, 9, 10.11, 3.6, 'raz']

In [9]:
list_mixed.pop(0)

'Hello'

In [10]:
list_mixed

['Anu', 22, 77, 3, 9, 10.11, 3.6, 'raz']

Create a tuple containing the names of the days of the week and print it. Access and print
the name of the third day.

In [12]:
tuples=("sunday","monday","tuesday","wednesday","thrusday","friday","Saturday")
tuples

('sunday', 'monday', 'tuesday', 'wednesday', 'thrusday', 'friday', 'Saturday')

In [13]:
tuples[2]

'tuesday'

Create a tuple of your favorite colors and print it. Check if a certain color is present in the
tuple and print the result.

In [14]:
fav_color=('green','black','red','yellow','purple','pink','white')
fav_color

('green', 'black', 'red', 'yellow', 'purple', 'pink', 'white')

In [27]:
type(fav_color)

tuple

In [17]:
check_color="purple"
is_present_color=check_color in fav_color
is_present_color

True

In [18]:
check_color="brown"
is_present_color=check_color in fav_color
is_present_color

False

Create a dictionary representing the information of a book with keys "title", "author", and
"year" and print it. Update the year of the book and print the updated dictionary.

In [35]:
book_info={"title":"rich dad poor dad",
          "author":"Ram bahadur",
          "year":1999}
book_info

{'title': 'rich dad poor dad', 'author': 'Ram bahadur', 'year': 1999}

In [36]:
book_info['year']=2005

In [37]:
book_info

{'title': 'rich dad poor dad', 'author': 'Ram bahadur', 'year': 2005}

In [38]:
book_info.keys()

dict_keys(['title', 'author', 'year'])

Create a dictionary containing the names of fruits as keys and their corresponding colors
as values and print it. Add a new fruit-color pair to the dictionary and print the updated
dictionary.

fruit_color={"apple":"red",
            "orange":"yellow",
            "mango":"green",
            "banana":"pink"}
fruit_color

In [40]:
fruit_color["grapes"]="purple"

In [41]:
fruit_color

{'apple': 'red',
 'orange': 'yellow',
 'mango': 'green',
 'banana': 'pink',
 'grapes': 'purple'}

In [42]:
fruit_color.keys()

dict_keys(['apple', 'orange', 'mango', 'banana', 'grapes'])

In [43]:
fruit_color.values()

dict_values(['red', 'yellow', 'green', 'pink', 'purple'])

Create a dictionary representing the population of different cities with keys as city names
and values as population numbers and print it. Remove a city from the dictionary and print
the modified dictionary.

In [44]:
city_pop={"ktm":20000,
         "pkhr":30000,
         "delhi":40000,
         "mumbai":10000}
city_pop

{'ktm': 20000, 'pkhr': 30000, 'delhi': 40000, 'mumbai': 10000}

In [45]:
city_pop.keys()

dict_keys(['ktm', 'pkhr', 'delhi', 'mumbai'])

In [46]:
city_pop.values()

dict_values([20000, 30000, 40000, 10000])

In [48]:
removed_city=city_pop.pop("delhi")

In [49]:
city_pop

{'ktm': 20000, 'pkhr': 30000, 'mumbai': 10000}